form{
    max-width: 780px;
}

.grupos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;  /* espaço entre os campos*/
}

.campo label{
    font-weight: bold;
    margin-bottom: 4px; /* espaço entre o label e o input*/
}

.campo input {
  padding: 8px;
  font-size: 16px;
}

button{
    margin-top: 4px;
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
}

fieldset {
    display: flex;
    flex: 1; /* cada um ocupa metade do espaço disponível */
    flex-direction: column;
    gap: 20px;

}

p{
    font-weight: bold;
}

.gender_group {
    gap: 10px;
}

